doctype 5
html
  head
    title
      block title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body
    div#content
      h1
        a(href='/') Flipster
      block content